.App-header {
  text-align: center;
  background-color: #333333;
  padding: 5px;
  color: white;
}

.App-header h2 {
  font-size: 2em;
}

label {
  display: inline-block;
  width: 6em;
  line-height: 1.8em;
  text-align: left;
}

.deviation {
  display: block;
  width: 95%;
  border-radius: 2em;
  border: 2px solid black;
  font-size: 1.5em;
  text-align: center;
  background-color: #f0f0f0;
  margin: 1em auto 0.6em auto;
  padding: 0.4em 0 0.25em 0;
}

.deviation p {
  margin: 0;
  padding: 0;
  line-height: 1.7em;
}

.lowDeviation {
  display: inline-block;
  color: rgb(0,153,0);
}

.mediumDeviation {
  display: inline-block;
  color: rgb(255,102,0);
}

.highDeviation {
  display: inline-block;
  color: rgb(204,0,0);
}

.inputform {
  text-align: center;
  margin: 0 auto;
  line-height: 2em;
  font-size: 1.6em;
}

.inputform select {
  font-size: 1em;
  padding: 3px 0;
  width: 5em;
}

button {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  font-size: 1.2em;
  padding: 0.8em 0 0.6em 0;
}
